.row
  .col-md-8
    %h1 Suppression de votre annonce
    %p
      Êtes-vous sûr de vouloir supprimer votre annonce
      = trip_title(@trip)
      ?
    %br
    %center
      = link_to 'Annuler', @trip, class: 'btn btn-bg btn-default'

      = link_to 'Suppriner', @trip, class: 'btn btn-bg btn-danger'

  .col-md-4
    = render 'shortcuts'