- if @trip.repeat
  %h3 Modifier un trajet réccurent
  .alert.alert-danger
    %strong ATTENTION !
    %p
      La modification d'un trajet réccurent entraîne la dépublication et la republication de toutes
      vos annonces rattachées. Les réservations potentielles et les modifications
      individuelles seront alors perdues.
- else
  %h3 Modifier une annonce


= render 'form'

- content_for :javascript_footer do
  :javascript
    if (typeof ga === "function") {
      ga('send', 'event', 'Trajet', 'edit', '#{@trip.points.map(&:city).join(', ') }' );
    }
