- @meta[:title] = 'Publier une annonce de covoiturage'
- @meta[:description] = 'Proposez vos places libres pour trouver des passagers, sur un site libre, gratuit et ouvert à tous.'

%h3 Publier une annonce

= render 'form'