- content_for :jumbotron do
  .jumbotron.small-jumbotron
    .container
      .row
        .col-md-9
          = render partial: 'search/form', locals: { 'large_inputs': false }

%h3= "#{pluralize(Trip.count, 'covoiturage', 'covoiturages')} trajets sur le site"

%hr.trip-list

= render @trips