.jumbotron {
  background-color: $blue-light;

  &.small-jumbotron {
    padding: 15px 0 15px 0;
    margin-bottom: 0px;
  }
}

.ui-autocomplete-loading {
  background: #fff image_url('ui-anim_basic_34x34.gif') no-repeat right center;
}
