.container.p-home__banner
  .row
    .col-sm-12
      %a.home__banner_close 
        .glyphicon.glyphicon-remove-circle
      %h3.p-home__heading Chères utilisatrices et chers utilisateurs,
      %p
        Covoiturage-libre.fr est une plateforme complètement gratuite. Vous pouvez soutenir notre travail gratuitement en utilisant le moteur de recherche alternatif Lilo.
      %p
        Si chacun utilisait Lilo pendant 1 mois par ans, nous pourrions boucler le budget annuel. Nous comptons sur vous&nbsp;!
  .row
    .col-sm-12
      = link_to 'Découvrir le moteur de recherche Lilo', 'https://www.lilo.org/?utm_source=covoiturage-libre-fr', target: '_blank', rel: 'noopener', class: 'btn btn-default'
      = link_to 'Déjà sur Lilo ? Donnez-nous vos gouttes !', 'https://www.lilo.org/?p=9680&utm_source=covoiturage-libre-fr', target: '_blank', rel: 'noopener', class: 'btn btn-default'

- content_for :javascript_footer do
  :javascript
    // Close button for banner
    $(".home__banner_close").on("click", function() {
      $(".home__banner_close").hide();
      $(".p-home__banner").animate({height: 0}, 500, function() {
        // Animation complete.
        $(".p-home__banner").hide();
      });
    });
