- # meta data
- @meta[:title] = 'Covoiturage-libre.fr, le covoiturage gratuit et collaboratif'
- @meta[:description] = '1ère plateforme de covoiturage gratuite et collaborative. Aucune commission sur les trajets. Association à but non lucratif. Depuis 2011.'


- content_for :page_part_1 do
  .container
    .row
      .col-md-12
        = @page_part_1.try(:body)

- content_for :search_zone do
  .jumbotron
    .container
      .row
        .col-md-9
          %h2 Trouvez votre covoiturage
          %p Le covoiturage gratuit, communautaire et libre.
          = render partial: 'search/form', locals: { 'large_inputs': true }
        .col-md-3.home-publish-cta
          %p
            Vous avez une voiture ?
          = link_to 'Publiez une annonce', new_trip_path, class: 'btn btn-lg btn-warning'
          %p
            %br
            Le site ne prend aucune commission
            %br
            Association loi 1901

.row
  .col-md-4
    .feature-block
      %h3 Sans commission
      %p
        Des économies plus importantes pour les conducteurs, des voyages vraiment moins chers pour les passagers.
        Les prix sont fixés par les conducteurs, le site ne se prend aucune commission sur les trajets, nous ne
        vivons que de dons.
  .col-md-4
    .feature-block
      %h3 Libre
      %p
        Nous garantissons que :
      %ul
        %li la plateforme est un bien commun : nous ne serons jamais achetés ou côtés en bourse ;
        %li la gouvernance de la plateforme est fondée sur la communauté ;
        %li notre communauté contribue à la protection de l'environnement ;
        %li la plateforme contribue au lien social entre covoitureurs.
  .col-md-4
    .feature-block
      %h3 Communautaire
      %p
        Le service Covoiturage Libre est maintenu et géré par une communauté de bénévoles dévloppeurs, designers, communiquants
        qui croient que le covoiturage est une magnifique invention mais qu'elle doit rester dans les mains
        des citoyens et pas controllé par une entreprise privée côtée en bourse.