- content_for :meta do
  %title Pourquoi l’association Covoiturage Libre ?.
  %meta{content: 'But de l’association Covoiturage Libre, principes et fonctionnement', name: 'description'}
  %meta{content: 'Association Covoiturage Libre', name: 'author'}

%h1 L'association Covoiturage Libre