%h1 500 Erreur interne du serveur
%p.error_page_message
  = image_tag('erreur-500.png', height: '450')
  %br
  Oups, votre site a un petit bug.
  %br
  Nous en avons été notifiés et le corrigeons dans les plus brefs délais.