$blue:   #2265AA;
$blue-light: #e9f1ff;
$orange: #FF6F00;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg: #f5f5f5;
