$white: #FEFFFF;

$blue-lighter: #F4FCFE;
$blue-light: #A3C5F1;
$blue: #35649E;

$orange: #EA733D;


$borderColor      : #eeeeee;
$mainLinkColor    : #e9f1ff;
$priceColor       : #ff6f00;

$bgDefault        : #e9f1ff;

$bgFeatureBlock   : #fffbf2;

$brand-color: $blue;
