$borderColor      : #ccc;
$mainLinkColor    : #C1E4FF;
$priceColor       : #ff6f00;

.itinerary {
  border-bottom: 1px solid $borderColor;
  list-style: none;

  a {
    color: black;
  }
  a:hover {
    backgroud-color: $mainLinkColor;
  }

  .driver {
    padding: 4px;
    .name {
      font-weight: bold;
    }
  }
  .trip-info {
    padding: 4px;
    .title {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .price {
    padding: 4px;
    text-align: center;
    padding:4px;
    font-size: 24px;
    font-weight: bold;
    color: $priceColor;
  }
}