
$orangeDefault    : #f5b833;
$orangeStrong     : #ff6f00;
$bgDefault        : #e9f1ff;

.jumbotron {
  background-color: $bgDefault;
}

.publish {
  margin: 0;
  margin-top: -48px;
  padding: 10px;
  background-color: white;
  border: 1px solid #dddddd;
  border-top: 0;
  border-radius: 0 0 15px 15px;
  text-align: center;
}
