// how to customize the navbar : http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3

$bgDefault      : #fff;

.navbar-default {
  background-color: $bgDefault;

  .navbar-brand {
    padding: 0;
  }
}

