.c-stickers-carousel__controls {
  text-align: center;
}

.c-stickers-carousel__item {
  > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 200px;
  }
}

.c-stickers-carousel__controls {
  color: #1060ad;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: $spacing-unit / 2;
}

.c-stickers-carousel__control {
  background: transparent;
  border: 0;
  appearance: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#0c2a60, .1);
  }
}



.js-carousel-right > img {
  transform: rotate(180deg);
}
