$borderColor      : #eeeeee;
$mainLinkColor    : #e9f1ff;
$priceColor       : #ff6f00;

hr.trip-list {
  margin-bottom: 0;
}


a.trip-item {
  display: block;
  color: black;
}
a.trip-item:hover {
  background-color: $mainLinkColor;
}

.trip {
  border-bottom: 1px solid $borderColor;

  .driver {
    display: block;
    float: left;
    padding: 8px;
    width: 25%;
    .avatar {
      text-align: center;
      display: block;
      float: left;
      width: 65px;
      height: 65px;
      background-color: $borderColor;
      border-radius: 100px;
      padding: 15px 0 15px 0;
      img {
        height: 35px;
      }
    }
    .info {
      float: left;
      margin: 10px 0 0 10px;
      .name {
        font-weight: bold;
      }
    }
  }
  .trip-info {
    display: block;
    float: left;
    padding: 14px;
    width: 55%;
    .title {
      font-weight: 400;
      font-size: 18px;
    }
  }
  .price {
    width: 20%;
    display: block;
    float: left;
    padding: 8px;
    text-align: center;
    color: $priceColor;
    p {
      font-size: 24px;
      font-weight: bold;
    }
    .seats {
      font-size: 12px;
    }
  }
}