$borderColor      : #eeeeee;
$mainLinkColor    : #e9f1ff;
$priceColor       : #ff6f00;
$beforeColor      : #F9DDFF;
$afterColor       : #FAFFDD;

hr.trip-list {
  margin-bottom: 0;
}


a.trip-item {
  display: block;
  color: black;
  background-color: white;
}
a.trip-item:hover {
  background-color: $mainLinkColor;
}
a.trip-item-before {
  background-color: $beforeColor;
}
a.trip-item-after {
  background-color: $afterColor;
}

.trip {
  border-bottom: 1px solid $borderColor;

  .trip-info {
    display: block;
    float: left;
    padding: 14px;
    width: 50%;
    .title {
      font-weight: 400;
      font-size: 18px;

      .grey_background {
	  color: grey;
      }
      .blue_background {
	  color: blue;
      }
    }
  }

  &.deleted-trip a {
    opacity: 0.15;
    &:hover {
    opacity: 0.75;
    }
  }

  &.pending-trip a {
    background: #EEE;
  }

  &.past-trip a {
    color: #999;
  }

  &.user-trip {
    .driver {
      width: 15%;
    }
    .trip-info {
      width: 70%;
    }
    @media (max-width: $screen-xs-max) {
      .avatar {
        display: none;
      }
      .driver {
        display: none;
      }
      .trip-info {
        width: 80%;
      }
      .price {
        width: 20%;
      }
    }
  }

  &.child-trip {
    .price {
    }
  }
  .driver {
    width: 35%;
  }

  .price {
    width: 15%;
  }
  @media (max-width: $screen-xs-max) {
    .avatar {
      display: none;
    }
  }
}

.driver {
  display: block;
  float: left;
  padding: 8px 0 8px 8px;
  .avatar {
    text-align: center;
    display: block;
    float: left;
    width: 65px;
    height: 65px;
    background-color: $borderColor;
    border-radius: 100px;
    padding: 15px 0 15px 0;
    img {
      height: 35px;
    }
  }
  .info {
    float: left;
    margin: 10px 0 0 10px;
    .name {
      font-weight: bold;
    }
  }
}

.price {
  display: block;
  float: left;
  padding: 8px;
  text-align: center;
  color: $priceColor;
  p {
    font-size: 24px;
    font-weight: bold;
  }
  .seats {
    font-size: 12px;
  }
}

.small_price {
  color: $priceColor;
  font-weight: bold;
}

.main_seats {
  display: block;
  float: left;
  padding: 8px;
  text-align: center;
  color: $priceColor;
  font-size: 24px;
  font-weight: bold;
}

.trip_trip_repetitions_departure_time {
  .input-group-addon,
  .input-group-btn .btn {
    background: none;
    border: none;
    width: auto;
  }
  .form-control {
    border-radius: 4px !important;
  }
  .input-group-addon > label {
    margin: 0 2px;
  }
  .input-group-addon > label > input[type='radio'] {
    vertical-align: text-bottom;
    width: auto;
    height: auto;
  }
  @media (max-width: $screen-xs-max) {
    .input-group-addon,
    .form-control,
    .input-group-btn .btn {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
}
