@charset "utf-8";

/*
 * import nothing from sprockets as it is explained here https://github.com/twbs/bootstrap-sass
 *= require ie10-viewport-bug-workaround
 *= require jquery-ui/autocomplete
 *= require jquery-ui/datepicker
 *= require leaflet
 *= require leaflet-routing-machine
 */

@import "colors";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "atoms/typography";

@import "molecules/navbar";
@import "molecules/jumbotron";
@import "molecules/trip";
@import "molecules/errors";

@import "pages/home";
@import "pages/devise";

#route-wrapper {
  #route {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
}

.top-list-button {
  margin-top: 25px;
}

.page-header {
  margin-top: 20px;
}
