/*
 * import nothing from sprockets as it is explained here https://github.com/twbs/bootstrap-sass
 *= require ie10-viewport-bug-workaround
 *= require jquery-ui/autocomplete
 *= require jquery-ui/datepicker
 *= require leaflet
 *= require leaflet-routing-machine
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "variables";
@import "mixins";
@import "_typography";
@import "media";
@import "_navbar";
@import "_jumbotron";
@import "_home";
@import "_trip";
@import "_errors";
@import "devise";
@import "testimonial";
@import "cities";
@import "link";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', -apple-system, 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

#route-wrapper {
  #route {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
}

.top-list-button {
  margin-top: 25px;
}

.page-header {
  margin-top: 20px;
}
