/*
 * import nothing from sprockets as it is explained here https://github.com/twbs/bootstrap-sass
 *= require bootstrap-datepicker3
 *= require ie10-viewport-bug-workaround
 *= require jquery-ui/autocomplete
 *= require leaflet
 *= require leaflet-routing-machine
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "_typography";
@import "_navbar";
@import "_jumbotron";
@import "_home";
@import "_trip";


#route-wrapper {
  #route {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
}

.top-list-button {
  margin-top: 25px;
}

.page-header {
  margin-top: 20px;
}