%h1.pull-left Liste des users

= link_to 'Nouvel utilisateur', new_admin_user_path, class: 'btn btn-primary pull-right top-list-button'

%table.table
  %tr
    %th Id
    %th Email
    %th{ colspan: 2 }
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-default btn-sm'

