.page-header
  %h1
    Mes annonces
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading.clearfix
          %h4.panel-title.pull-left{style: "padding-top: 7.5px;"}
            Trajets à venir
        .panel-body
          - current_user.trips.incoming.unrepeated.each do |trip|
            = render 'trips/trip', trip: trip
    .col-sm-6
      .panel.panel-default
        .panel-heading.clearfix
          %h4.panel-title.pull-left{style: "padding-top: 7.5px;"}
            Trajets récurrents
        .panel-body
          - current_user.trips.repeated.each do |trip|
            = render 'trips/trip', trip: trip
