%ul.nav.nav-pills
  %li= active_link_to 'Pages', admin_pages_path, wrap_tag: :li
  %li= active_link_to 'Pages Parts', admin_page_parts_path, wrap_tag: :li
  %li= active_link_to 'Stats', admin_stats_path, wrap_tag: :li

%hr.separator
