%ul.nav.nav-pills
  %li= active_link_to 'Pages', admin_pages_path, wrap_tag: :li
  %li= active_link_to 'Pages Parts', admin_page_parts_path, wrap_tag: :li
  .nav.nav-pills.navbar-right
    %li= active_link_to 'Déconnexion', destroy_user_session_path, method: :delete, wrap_tag: :li