/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    %h2 Trouvez votre covoiturage
    %p Le covoiturage gratuit, communautaire et libre.
    %form.form-inline
      .form-group
        %label.sr-only{:for => "from"} De
        %input#exampleInputEmail3.form-control.input-lg{:placeholder => "De", :type => "email"}/
      .form-group
        %label.sr-only{:for => "to"} À
        %input#exampleInputPassword3.form-control.input-lg{:placeholder => "À", :type => "password"}/
      .form-group
        %label.sr-only{:for => "to"} Date
        %input#exampleInputPassword3.form-control.input-lg{:placeholder => "Date", :type => "password"}/
      %button.btn.btn-default.btn-primary.btn-lg{:type => "submit"} Rechercher

