%ul.nav.nav-pills
  %li= active_link_to 'Mon profil', profile_path, wrap_tag: :li
  %li.disabled= link_to 'Mes annonces', "#TODO", wrap_tag: :li
  %li.disabled= link_to 'Mes trajets', "#TODO", wrap_tag: :li
  %li.disabled= link_to 'Mes alertes', "#TODO", wrap_tag: :li

%hr.separator
